<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>austin.</title>
    <link href="/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="/lib/font-awesome/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <div class="container">

        <!--page title-->
        <h1 class="text-center mt-5 mb-3">austin.</h1>
        <h5 class="text-center mb-5">the best city of them all.</h5>

        <!--blurb about austin-->
        <div class="row d-flex justify-content-center">
            <div class="col-md-8">
                <p>
                    The culture. The food. The people. Life doesn't get much better than life lived in Austin. Check out
                    some of my favorite places to explore and eat at around the city! Keep it weird, friends!
                </p>
            </div>
        </div>
        <br />

        <div class="row justify-content-center">
            <!--cards for food places-->
            <h3 class="text-center mt-4 mb-4">food.</h3>
            <div class="row row-cols-1 row-cols-md-3" style="width: 80%">
                <!--food place 1-->
                <div class="col mb-4">
                    <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
                        <div class="card-header">2512 Rio Grande St</div>
                        <div class="card-body">
                            <h4 class="card-title">ATX Gyro</h4>
                            <p class="card-text">
                                The food trucks on Rio and 26th street just keep expanding, and this one
                                has definitely become my favorite of them all. Be ready to be amazed because
                                ATX Gyro tops every other halal food truck in the city (and there are a lot).
                            </p>
                        </div>
                    </div>
                </div>
                <!--food place 2-->
                <div class="col mb-4">
                    <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
                        <div class="card-header">1618 E Riverside Dr</div>
                        <div class="card-body">
                            <h4 class="card-title">1618 Asian Fusion</h4>
                            <p class="card-text">
                                This restaurant requires a slight drive out from the bubble of campus. However, for
                                those of you that are like me and feel like Austin has a very limited Asian food scene,
                                you can never go wrong with 1618. They have everything from traditional Vietnamese
                                dishes, like pho, to the "fancier" end, like whole, fried fish and peking duck.
                            </p>
                        </div>
                    </div>
                </div>
                <!--food place 3-->
                <div class="col mb-4">
                    <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
                        <div class="card-header">10901 N Lamar Blvd. Ste 401</div>
                        <div class="card-body">
                            <h4 class="card-title">First Chinese BBQ</h4>
                            <p class="card-text">
                                I LOVE THIS PLACE WITH MY HEART AND SOUL! There are multiple First Chinese BBQs back in
                                Dallas (where I'm from), and my family eats there often. Look at my luck when I learn
                                that there's one in Austin, too! Order the crispy shrimp. You won't be disappointed.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <br/>

            <!--cards for places to explore-->
            <h3 class="text-center mt-4 mb-4">explore.</h3>
            <div class="row row-cols-1 row-cols-md-3" style="width: 80%">
                <div class="col mb-4">
                    <!--explore 1-->
                    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                        <div class="card-header">1200 W Cesar Chavez St</div>
                        <div class="card-body">
                            <h4 class="card-title">Lady Bird Lake</h4>
                            <p class="card-text">
                                Don't be fooled, this lake isn't really a "lake". Lady Bird Lake is a section of the
                                Colarado River that's been dammed off so no motor boats can enter. This territory is
                                strictly for rowing, kayaking, swimming, and my personal favorite, paddle boarding. The
                                water stays a cool 60 degrees all year round, making it the perfect place to cool off
                                from those 100 degree Texas days.
                            </p>
                        </div>
                    </div>
                </div>
                <!--explore 2-->
                <div class="col mb-4">
                    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                        <div class="card-header">3800 Bonnell Dr</div>
                        <div class="card-body">
                            <h4 class="card-title">Mount Bonnell</h4>
                            <p class="card-text">
                                The Austin sunset does not get much better than here. Come during the evening to
                                chill and picnic with friends on the edge of (essentially) a cliff. Stare at and envy
                                the multimillion dollar houses below. Watch the sun edge its way down behind Austin's
                                hills. People watch and enjoy the contentness of your fellow Austinites.
                            </p>
                        </div>
                    </div>
                </div>
                <!--explore 3-->
                <div class="col mb-4">
                    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                        <div class="card-header">1710 Camp Craft Rd</div>
                        <div class="card-body">
                            <h4 class="card-title">Barton Creek Greenbelt</h4>
                            <p class="card-text">
                                I'll be honest, I never thought I'd be much of a hiking person, but the Greenbelt has
                                so much to explore! There are different aspects to this trail - both high elevation
                                climbs and flat (and shaded!) paths. Plus, there are places to stop at along the
                                way to swim, which is always a need if you're going to be outside in Texas!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


