<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>finding ataraxia.</title>
    <link href="/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .imgbox {
            display: grid;
            height: 100%;
        }

        .center-fit {
            max-width: 100%;
            max-height: 100vh;
            margin: auto;
        }
    </style>
</head>
<body>

    <!--title-->
    <h1 class="text-center mt-5 mb-5"><em>finding ataraxia. (2019)</em></h1>

    <!--image-->
    <div class="imgbox">
        <img class="center-fit" src="/images/FindingAtaraxia.jpg" alt="Portrait of sister using oil paint and stippling" title="Finding Ataraxia.">
    </div>


    <script src="/lib/jquery/jquery.js"></script>
    <script src="/lib/twitter-bootstrap/js/bootstrap.bundle.js"></script>
    <script src="/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>