
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home.</title>
    <link href="/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="/lib/font-awesome/css/all.min.css" rel="stylesheet" />
</head>
<body>


    <div class="container">


        <h1 class="text-center mt-5 mb-3">brittany given.</h1>

        <h5 class="text-center mb-5">me but with a little visual, some grammar mistakes, and a digital touch.</h5>
        <div class="align-self-sm-center">
            <img class="w-50 h-auto rounded mx-auto d-block" src="/images/BrittanySolo.JPG" alt="Brittany against a white and red background" title="This is her! This is Brittany." />
        </div>
        <br />

        <!--nav buttons-->
        <div class="text-center">
            <div class="btn-group-lg">
                <a class="btn btn-primary" asp-action="Portfolio">portfolio.</a>
                <a class="btn btn-primary" asp-action="Journal">journal.</a>
                <a class="btn btn-primary" asp-action="Austin">austin.</a>
                <a class="btn btn-primary" asp-action="Resume">resume.</a>
            </div>
        </div>
        <hr class="hr-danger" />

        <!--"about me" section-->
        <h3 class="text-center mt-4 mb-4">hi there.</h3>
        <div class="row d-flex justify-content-center">
            <div class="col-md-8">
                <p>
                    I am an undergraduate at the University of Texas at Austin, currently majoring in Business Honors and Management Information Systems,
                    with a planned certificate in Computer Science and minor in Entrepreneurship. I am a member of Alpha Delta Pi Sorority, where I have
                    served as a leader in the new member mentorship and diversity & inclusion departments. I love visual arts, dabble in the occasional
                    reading, and am currently binging stand-up comedy and cooking shows in the rare free time I have, though I am personally mediocre at both.
                    If I manage to find time between all the madness of MIS 333K and CS 313E, you can likely find me rallying semi-decently on a tennis court
                    somewhere, sweating profusely on a paddle board at Lady Bird Lake, or in my bed catching up on some much needed sleep.
                </p>
                <p>
                    If you'd like to contact me, shoot me an email at <a href="mailto:brittanygiven@utexas.edu?subject=Inquiry from Home Page">brittanygiven@utexas.edu</a>
                    or message me on Instagram at <a href="https://www.instagram.com/brittanygiven/?subject=Inquiry from Home Page">@@brittanygiven</a>!
                </p>
            </div>
        </div>
        <br />

        <!--Figures of Speech Blurb-->
        <h3 class="text-center mt-4 mb-4">figures of speech.</h3>
        <div class="row d-flex justify-content-center">
            <div class="col-md-8">
                <figure class="text-end">
                    <blockquote class="blockquote">
                        <p class="mb-0 text-primary">If you were a brand, what brand would you be?</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        Monica Lewinsky
                    </figcaption>
                </figure>
                <p>
                    Freshman year of college, I took a class called "Capturing Creativity" where we watched videos from
                    Figures of Speech, an organization that revoices the world's most vital speeches. One of the speeches
                    I watched from them is called "Patient Zero", which is a voicing of Monica Lewinsky's speech regarding
                    cyber bullying. Her statement, shown above, has stuck with me ever since. I aim to live life
                    everyday making sure that I am a brand I would be proud to show off.
                </p>
            </div>
        </div>
        <br />

        <!--Figures of Speech video-->
        <div class="container">
            <div class="row justify-content-center mb-4">
                <div class="col-2"></div>
                <div class="col-8">
                    <div style="max-width:854px">
                        <div style="position:relative;height:0;padding-bottom:56.25%">
                            <iframe src="https://www.youtube.com/embed/cCdfrAPzpjo" width="560" height="315" title="YouTube video player" style="position:absolute;left:0;top:0;width:100%;height:100%" frameborder="0" scrolling="no" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
        <br />

        <!--TED Talk Blurb-->
        <h3 class="text-center mt-5 mb-4">TED talk.</h3>
        <div class="row d-flex justify-content-center">
            <div class="col-md-8">
                <p>
                    This semester, I decided I'd take my shot at Texas Crew. If you don't know about the organization,
                    to sum it all up, I wake up at 4:30 AM for practice every day. Considering my wack sleep schedule
                    of not going to bed until after midnight, I've been taking lots of naps lately... and long ones, too.
                    I'm not talking about those half hour power naps or even those let's-stretch-it-to-an-hour, hit-the-snooze-again
                    naps. My naps have been clocking in at a record three hours. Now, I know what you're thinking, <em>
                    "Brittany, napping that long is bad for you... like <strong>seriously bad</strong>"</em>, and you are probably
                    right. A quick Google search told me my life expectancy would decrease by 27% if I keep this up, though how much
                    I believe the credibility of that statistic is up in the air. Thus, this TED Talk truly speaks to me and my current
                    life obstacles.
                </p>
            </div>
        </div>
        <br />

        <!--TED talk video-->
        <div class="container">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <div style="max-width:854px">
                        <div style="position:relative;height:0;padding-bottom:56.25%">
                            <iframe src="https://embed.ted.com/talks/sara_c_mednick_how_long_should_your_naps_be" width="854" height="480" style="position:absolute;left:0;top:0;width:100%;height:100%" frameborder="0" scrolling="no" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    </div>
    <script src="/lib/jquery/jquery.js"></script>
    <script src="/lib/twitter-bootstrap/js/bootstrap.bundle.js"></script>
    <script src="/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>