<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>journal.</title>
    <link href="/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="/lib/font-awesome/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <div class="container">

        <!--page title-->
        <h1 class="text-center mt-5 mb-3">journal.</h1>
        <h5 class="text-center mb-5">something like a blog.</h5>

        <!--blurb about journaling-->
        <div class="row d-flex justify-content-center">
            <div class="col-md-8">
                <p>
                    I will not claim to be a novel writer. However, through all my trials and successes,
                    journaling has helped me keep a clear mindset and remind myself of things I love.
                    Here are snippets of some of my thoughts. I hope you enjoy!
                </p>
            </div>
        </div>
        <br />

        <!--journal entries in accordion style-->
        <div class="row justify-content-center">
            <div class="accordion" id="entryOne" style="width: 60%">
                <!--entry one-->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            entry one.
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#entryOne" style="">
                        <div class="accordion-body">
                            <p>
                                <strong>03.12.2021</strong>
                            </p>
                            <p>
                                With my head tilted up, eyes closed, I can feel a slight breeze run through my hair.
                                It tickles my face and neck, but it's a good kind of caress. I reach down, and the
                                water shocks my hand with its coldness. I let my fingers drag in a slow dip along
                                the surface, anyways. It's refreshing. Like ice cold water you feel sliding down
                                your throat and spreading across your chest, the water's coldness moves up my
                                fingers and up my arm and through my body. It's chilling, in that good way.
                            </p>
                            <p>
                                There's a silence around me, but it sings, wraps me in a tight hug. It's comforting.
                                There's a calm in the stillness of the outdoors. The wind pushes the water, and
                                the water pushes me. Down down downstream. I'm miles from where I began.
                            </p>
                            <p>
                                When I open my eyes, I am met with blue, clear skies, and I feel so small. I feel
                                like I'm falling. It disorients me, but it feels amazing. I reach up, and I can
                                almost grab hold of the beauty to keep with me. I re-close my eyes because I
                                want to savior it, that feeling. I am lost in the peace here. It empties my
                                head. In my mind, I am thoughtless, and it is relieving.
                            </p>
                            <p>
                                I could stay here forever. I almost do.
                            </p>
                        </div>
                    </div>
                </div>
                <!--entry two-->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            entry two.
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#entryOne" style="">
                        <div class="accordion-body">
                            <p>
                                <strong>03.12.2021</strong>
                            </p>
                            <p>
                                I walked outside today for the first time in forever (I'm being dramatic). I spent
                                yesterday stationed in front of a screen. I had a running list of assignments to
                                get done, and unfortunate for me, my second monitor isn't as portable as
                                my dear ol' laptop.
                            </p>
                            <p>
                                Hi, my name is Brittany, and I come from Gen Z, where we have faked mastering the
                                art of multitasking — I never work without two split screens and five tabs open
                                per window across the three desktops I slide through using four fingers on the
                                touchpad of my laptop, multiplied by two when you add in my unfortunately non-portable,
                                second monitor. My love language is the split seconds it takes for pages to load.
                            </p>
                            <p>
                                We've become an impatient people.
                            </p>
                            <p>
                                I spend my time type type typing away. I widen my eyes, blink hard when the characters
                                on the screen start blurring together. I'd shake my head, but I have come to
                                live with this permanent, mild migraine, and it would be unfortunate to make that worse.
                            </p>
                            <p>
                                My hands grip the edge of my desk, and I roll my chair towards and away and back
                                towards again. I release my grip. I thank myself for buying a rolly chair (is that
                                the official word for it?) because roll roll rolling around gives me some type of
                                short reprieve. My heart pangs because I miss being active.
                            </p>
                            <p>
                                I sigh, shake my head anyways, and move to sit on the edge of my seat. I'm restless,
                                so no sooner do I scoot my butt back to sit criss-cross apple sauce. It's not
                                the right posture to be type type typing away, but we settle. This year has just been
                                settling — lots and lots of settling.
                            </p>
                            <p>
                                I spent all of yesterday staring at this screen. Blink blink blink. Type type type.
                                I have forgotten what writing feels like.
                            </p>
                            <p>
                                Since when do people write without pressing keys? Amateurs — get with the program already.
                            </p>
                        </div>
                    </div>
                </div>
                <!--entry three-->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            entry three.
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#entryOne" style="">
                        <div class="accordion-body">
                            <p>
                                <strong>03.16.2021</strong>
                            </p>
                            <p>
                                Today, I am finally flying, and when I tell you I am on the brink of shedding some
                                tears, I promise you they are nothing but happy ones.
                            </p>
                            <p>
                                The sky is so beautiful. More beautiful than I remember. I feel like I can touch the
                                clouds; I mean, I <em>am</em>. I am moving through them and above them and beside
                                them. We could almost be one.
                            </p>
                            <p>
                                There are peaks like rolling mountains and hills like the Austin city I am temporarily
                                parting from. They are a box of cotton balls a child is eager to dig into for her daily
                                arts and crafts break. I am that child.
                            </p>
                            <p>
                                The sun shines her light on the tops, and she makes the clouds have depth. Their
                                shadows look dark but contour in a freeing way — a show-off way; the clouds are not
                                afraid of their curves and bumps and disfigurations. They are one with nature and all
                                the more glorious for it.
                            </p>
                            <p>
                                I am finally flying, and I never want to come down. I want to live in these clouds
                                and their softness. I want to float with them. I want to dance their lazy, loose,
                                non-grounded dance.
                            </p>
                        </div>
                    </div>
                </div>
                <!--entry four-->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            entry four.
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#entryOne" style="">
                        <div class="accordion-body">
                            <p>
                                <strong>06.10.2021</strong>
                            </p>
                            <p>
                                We don’t fall in love with people.
                            </p>
                            <p>
                                We fall in love with moments — with the calm of hands running through hair,
                                with the tickle of laughter against skin, with the warmth of a body nearby.
                            </p>
                            <p>
                                We don’t fall in love with people.
                            </p>
                            <p>
                                We fall in love with moments — with the hours that feel like mere minutes
                                that tick by in short seconds, with the serotonin high that rushes through our
                                veins and relaxes our muscles, with the four letter word we whisper in our head,
                                shape around our lips, test on our tongue to empty air, we are building up the
                                courage, finding the right timing.
                            </p>
                            <p>
                                We don’t fall in love with people.
                            </p>
                            <p>
                                We fall in love with moments — with the words said and stares shared and
                                places traveled where all we can remember is not what happened but how
                                light we felt, and all that comes up is <em>good, great, amazing.</em>
                            </p>
                            <p>
                                We don’t fall in love with people.
                            </p>
                            <p>
                                We fall in love with moments — with the comfortable silence after a long
                                day when no words are spoken but after leaning all your weight on
                                one another, you know you still won’t fall.
                            </p>
                            <p>
                                We don’t fall in love with people.
                            </p>
                            <p>
                                We fall in love with moments — but sometimes, in the midst of it
                                all, I think I must have fallen in love with you.
                            </p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>


